<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220820054552-agnutktetdm0jvuaeaviq13v6nbr78el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220820054552-agnutktetdm0jvuaeaviq13v6nbr78el</string>
	<key>API_KEY</key>
	<string>AIzaSyDjnB5dzTUmX_RwPYESOAgoi6Gstvo_nM0</string>
	<key>GCM_SENDER_ID</key>
	<string>220820054552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.karins</string>
	<key>PROJECT_ID</key>
	<string>karins-bc982</string>
	<key>STORAGE_BUCKET</key>
	<string>karins-bc982.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220820054552:ios:9b9f1519486b5f63d4196d</string>
</dict>
</plist>